.header-container{
    background-color: rgb(2, 56, 2);
    margin: 0%;
}

.main-container{
    margin: 0%;
    background-color: rgb(0, 0, 18);
}

.sub-containers h3{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: beige;
    border-right: 2px solid beige;
    height: 100px;
}

.sub-containers p{
    color: beige;
    padding-left: 5%;
    margin-top: 1%;
    padding-bottom: 2.5%;
    height: 100px;
    font-size: 14px;
    width: auto;
    max-width: 100%;
    height: auto;
}

.sub-containers ul{
    color: beige;
    padding-left: 5%;
    margin-top: 1%;
    padding-bottom: 2.5%;
    height: 100px;
    font-size: 14px;
    list-style: circle;
    width: auto;
    max-width: 100%;
    height: auto;
}

.about-me{
    text-align: center;
    background-color: rgb(2, 56, 2);
    color:beige;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}