.navbar-container{
    background-color: rgb(0, 0, 18);
}

.navbar-container nav{
    background-color: rgb(2, 56, 2);
    border-top: 1px solid rgb(0, 0, 18);
}

.navbar-container nav a{
    color: beige;
}

.navbar-container nav h3{
    color: beige;
}