
.navbar{
    border-top: 1px solid rgb(0, 0, 18) ;
    background-color: rgb(2, 56, 2);
}

.navbar a{
    color: beige;
}

.navbar a:hover{
    color: beige;
    font-weight: bold;
}

@media (max-width:768px){
.navbar-header{
    width: 100%;
}
}

@media (min-width:768px){
.navbar-toggle {
    display: none;
}
}

.navbar-toggle{
    float: right;
}

.navbar-header button {
    background-color: rgb(2, 56, 2);
    border: 0px;
    height: 50px;
    width: 50px;
}

.navbar-toggle .icon-bar{
    background-color: beige;
}

.icon-bar{
    display: block;
    width: 100%;
    height: 3px;
}

.icon-bar+.icon-bar{
    margin-top: 25%;
    width: 100%;
    height: 3px
}