.empty{
    color: beige;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 0%;
}

.header-container{
    background-color: rgb(2, 56, 2);
    margin: 0%;
}

.jumbotron-container{
    background-color: rgb(0, 0, 18);
    padding: 5%;
}

.main-container{
    margin: 0%;
    background-color: rgb(0, 0, 18);
}

.navbar-container{
    background-color: rgb(0, 0, 18);
}

.navbar-container nav{
    background-color: rgb(2, 56, 2);
    border-top: 1px solid rgb(0, 0, 18);
}


.navbar-container nav a{
    color: beige;
}

.navbar-container nav h3{
    color: beige;
}

.sub-containers h3{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: beige;
    border-right: 2px solid beige;
    height: 100px;
}

.sub-containers p{
    color: beige;
    padding-left: 5%;
    margin-top: 1%;
    padding-bottom: 2.5%;
    height: 100px;
    font-size: 14px;
}


.sub-containers1 h3{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: beige;
    border-right: 2px solid beige;
    height: 100px;
}

.sub-containers1 ul{
    color: beige;
    padding-left: 5%;
    margin-top: 1%;
    padding-bottom: 2.5%;
    height: 100px;
    font-size: 14px;
    list-style: circle;
}

img{
    display: block;
}

.profile-pic{
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.my-name{
    padding-top: 25%;
    text-align: center;
    font-size: 60px;
    border-left: 5px solid beige;
    margin-bottom: 0%;
    color: beige;
}

.my-occupation{
    text-align: center;
    padding-left: 4%;
    font-size: 30px;
    border-left: 5px solid beige;
    padding-bottom: 30%;
    margin-top: 0%;
    color: beige;
}
  
.about-me{
    text-align: center;
    background-color: rgb(2, 56, 2);
    color:beige;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

header{
    text-align: center;
}