.empty{
    background-color: darkslategray;
    color: white;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.profile-pic{
    border-radius: 50%;
    border: 2px black solid;
}

.my-name{
    border: 2px black solid;
    text-align: center;
}